# Игнорируем специфичные файлы IDE
.idea/
*.iml
.gradle
/local.properties
local.properties

# Игнорируем папки сборки
/build
/*/build

# Игнорируем логи и временные файлы
/captures
.externalNativeBuild
.cxx
.DS_Store